- if @user.new_record?
  - form_for "user", :url => admin_users_path do |f|
    = render :partial => "fields", :locals => { :f => f }
- else
  - form_for "user", :url => admin_user_path(@user), :html => { :method => "put" } do |f|
    = render :partial => "fields", :locals => { :f => f }